<div class="index-cont">
  <h1>Welcome to the ClubHouse</h1>
  <div class="button-cont">
    <a href="/register" class="button">Register</a>
    <a href="/login" class="button">Log In</a>
  </div>
</div>
