<div class="login-cont">
  <form method="POST" action="/login">
    <h2><%=title%></h2>
    <label for="email">Enter Email:</label>
    <input type="text" id="email" name="email" />

    <label for="password">Enter Password:</label>
    <input type="password" id="password" name="password" />

    <button class="button" type="submit">Submit</button>
  </form>
</div>
