<a href="/register">Register</a>
<a href="/login">Log in</a>
<a href="/messageFeed">Messages</a>
<a href="/newMessage">New Message</a>
<a href="/addMember">Become a member</a>
<a href="/addAdmin">Become an admin</a>

<a href="/logout">Log out</a>
