<div class="login-cont">
  <form method="POST" action="/register">
    <h2><%=title%></h2>

    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="first_name" />

    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name" />

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" />

    <button class="button" type="submit">Submit</button>
  </form>
</div>
