<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
  </head>
  <body>
    <h1>Welcome</h1>
    <p>Login or Register</p>
    <a href="/register">Register</a>
    <a href="/login">Log in</a>
  </body>
</html>
