<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
  </head>

  <body>
    <h1>Welcome</h1>
    <a href="/register">Register</a>
    <a href="/login">Log in</a>
    <a href="/messageFeed">Messages</a>
    <a href="/logout">Log out</a>
  </body>
</html>
